{{ .Header }}

package controller

import (
    "k8s.io/apimachinery/pkg/runtime/schema"
	ctrl "sigs.k8s.io/controller-runtime"

	"github.com/crossplane/upjet/pkg/controller"
	"github.com/crossplane/upjet/pkg/dynamiccrd"

	{{ .Imports }}
)

var {{ .Group }}CrdGroup = "{{ if .Config }}{{ .RootGroup }}{{ else }}{{ .Group }}.{{ .RootGroup }}{{ end }}"

// Setup_{{ .Group }} creates all controllers with the supplied logger and adds them to
// the supplied manager.
func Setup_{{ .Group }}(mgr ctrl.Manager, o controller.Options) error {
    crdToSetupFn := map[schema.GroupKind]func(ctrl.Manager, controller.Options) error{
        {{- range $kind, $alias := .Aliases }}
        schema.GroupKind{Group: {{ $.Group }}CrdGroup, Kind: "{{ $kind }}"}: {{ $alias }}Setup,
        {{- end }}
    }
	if err := dynamiccrd.Setup(mgr, crdToSetupFn, o); err != nil {
		return err
	}
	return nil
}
